.App {
  text-align: center;
  align-content: center;
  font-family: 'Lato', sans-serif;
  background-color: rgba(44, 172, 228, 0.1)
}

.sector-meme {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: 1rem auto;
}